
.carousel-caption{
    bottom: 122px;
}
.carousel-caption h1{
    font-size: 65px;
    letter-spacing: 2px;
}
.carousel-caption p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-caption button{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.social-links a{
    color: white;
    font-size: 30px;
    padding: 10px;
}